.create{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__btns{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        margin: 2rem 0;
        padding: 0 2rem;
    }

    h2{
        align-self: center;
    }
}