.home{
    h1{
        text-align: right;
    }

    h2{
        text-align: center;
        // margin: 3rem 41%;
        display: block;
        border-bottom: 1px solid #000;
    }

    &__container{
        display: grid;
        grid-template-columns:1fr 1fr ;
        
        &--single{
            grid-template-columns:1fr;
        }
    }

    &__list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__quizes{
        display: grid;

        .btn{
            margin: 1rem;
            font-size: 3rem;
        }
    }
}