.home{
    h1{
        text-align: right;
    }

    &__quizes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: auto;
        max-height: 80%;

        .btn{
            margin: 1rem;
            font-size: 3rem;
        }
    }
}