@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');

//views
@import "./views/login.scss";
@import "./views/404.scss";
@import "./views/home.scss";
@import "./views/create.scss";
@import "./views/quizForm.scss";

//components
@import "./components/input.scss";
@import "./components/button.scss";
@import "./components/feedback.scss";
@import "./components/innerPage.scss";
@import "./components/dialog.scss";
@import "./components/membersTable.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

:root{
    font-size: 62.5%; // 1rem = 10px
    font-family: 'Fredoka', sans-serif;
    color: #ffffff;

    --color1:#222831;
    --color2:#393E46;
    --color3:#FFD369;
    --color4:#EEEEEE;

    --rt-color-dark: var(--color3);
    --rt-color-white: #000;
}

body{
    background-color: var(--color1);
}

.pr{
    position: relative;
}

.react-tooltip {
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 2rem;
    width: max-content;
}

@keyframes fade-in {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes fade-out {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}

//scroll bar
/* width */
::-webkit-scrollbar {
    width: .5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color3);
  }